
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}

q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* General Demo Style */

.ie7 body{
	overflow:hidden;
}
a{
	color: #333;
	text-decoration: none;
}
.container{
	position: relative;
	text-align: center;
}




		body 					{font-style: normal;background-image: url(../images/splash161.jpg);
								  background-attachment: fixed;}
		body 					{ font-family:  cursive;}
 	
		#logo					{float: left; text-align: center; padding-left: 															20px;}
		#logo h1 				{padding-bottom: 0px;margin-bottom: 0; font-size: 							30px;}
		#logo h2 				{padding-top: 0px; margin-top: 0;font-size: 25px;}

		#top-nav				{float: right;margin-top: 0;padding-top: 0;}
		#top-nav ul li 			{display: inline; font-size: 20px; margin: 10px;}
		#top-nav	a			{text-decoration: none;}	
		#top-nav	a:link		{color: black;}	
		#top-nav	a:hover		{color:#1EE307; }	
		#top-nav	a:visited	{color: crimson;}	

		#clear 					{clear: both;}
		#map	{float: right;margin-right: 13%;padding-top: 100px;}
		#contact	{float: left;width: 300px;margin-left: 13%;padding-top: 40px;}

		#social 				{clear: both;padding-top: 17%;padding-left: 20px;}
		#social img 			{padding: 15px;padding-top: 0;margin-bottom: 0;}