
		body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td { 
		margin:0;
		padding:0;
		}

		body 					{font-style: normal; margin: 0; padding: 0; }
		body 					{ font-family:  cursive; background-color: #A2A0A0;}
 	
		#logo					{float: left; text-align: center; padding-left: 															20px;}
		#logo h1 				{padding-bottom: 0px;margin-bottom: 0; font-size: 							30px;}
		#logo h2 				{padding-top: 0px; margin-top: 0;font-size: 25px;}

		#top-nav				{float: right;margin-top: 0;padding-top: 0;}
		#top-nav ul li 			{display: inline; font-size: 20px; margin: 10px;}
		#top-nav	a			{text-decoration: none;}	
		#top-nav	a:link		{color: black;}	
		#top-nav	a:hover		{color:#1EE307; }	
		#top-nav	a:visited	{color: crimson;}	
		#clear 					{clear: both;}
		#clear1 				{clear: both;}
		#clear2 				{clear: both;}
		#clear3 				{clear: both;}
		#clear4 				{clear: both;}
		#clear5 				{clear: both;}

		div.gallery {
			margin: 9px;
			border: 1px solid #ccc;
			float: left;
			width: 180px;
		}

		div.gallery:hover {
			border: 1px solid #777;
		}

		div.gallery img {
			width: 100%;
			height: auto;
		}

		div.desc {
			padding: 15px;
			text-align: center;
		}